body {
  background-color: #E5E5E5;
}

.contacto-container {
  max-width: 80%;
  margin: 0 auto;
  padding: 2%;
  text-align: center;
}

.contacto-container h1 {
  font-size: 2.5rem;
  margin-bottom: 2%;
}

.contacto-container p {
  font-size: 1.2rem;
  margin-bottom: 3%;
}

.form-group {
  margin-bottom: 2%;
  text-align: left;
}

.form-group label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 1%;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 1%;
  font-size: 1.2rem;
  border: 2px solid #ddd;
  border-radius: 5px;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #5c5c5c;
}

button[type="submit"] {
  padding: 1%;
  font-size: 1.2rem;
  background-color: #5c5c5c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #4a4a4a;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 420px) {
  .contacto-container {
    padding: 1%;
  }

  .contacto-container h1 {
    font-size: 2rem;
    margin-bottom: 1.5%;
  }

  .contacto-container p {
    font-size: 1rem;
    margin-bottom: 2%;
  }

  .form-group label {
    font-size: 1rem;
    margin-bottom: 0.5%;
  }

  .form-group input,
  .form-group textarea {
    padding: 0.8%;
    font-size: 1rem;
  }

  button[type="submit"] {
    padding: 0.8%;
    font-size: 1rem;
  }
}

@media only screen and (device-width: 393px) and (device-height: 851px) and (-webkit-device-pixel-ratio: 2.625) {
  .contacto-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
  }

  .contacto-container h1 {
    font-size: 1.8rem;
    margin-bottom: 1.5%;
  }

  .contacto-container p {
    font-size: 1rem;
    margin-bottom: 1.5%;
  }

  .form-group label {
    font-size: 1rem;
    margin-bottom: 0.5%;
  }

  .form-group input,
  .form-group textarea {
    padding: 0.8%;
    font-size: 1rem;
  }

  button[type="submit"] {
    padding: 0.8%;
    font-size: 1rem;
  }
}

  