#Contenedor-home {
    height: 45vw;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
}

#Contenedor-home .imagen {
    display: flex;
    align-items: center;
}

#Contenedor-home .imagen img {
    height: 480px;
    width: auto;
    box-shadow: -30px 30px 4px #FCA311;
}

#Contenedor-home .texto {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#Contenedor-home .texto p {
    margin-right: 2vw;
    font-family: 'Encode Sans Semi Expanded';
    font-style: normal;
    font-weight: 400;
    font-size: 79px;
    line-height: 100%;
    text-align: center;
}

.boton-precios {
    height: 20px;
    width: 80px;
    background-color: #333;
    color: #FCA311;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid #FCA311;
    transition: all 0.3s ease;
}

.boton-precios:hover {
    background-color: #FCA311;
    color: #333;
}

@media (max-width: 767px) {
    #Contenedor-home {
      flex-direction: column;
      height: auto;
    }
    
    #Contenedor-home .imagen {
      order: 2;
      display: flex;
      align-items: center;
    }
    
    #Contenedor-home .texto {
      order: 1;
      margin-bottom: 40px;
    }
    
    #Contenedor-home .texto p {
      font-size: 36px;
      margin-right: 0;
    }
    
    #Contenedor-home .imagen img {
      height: auto;
      width: 100%;
      box-shadow: none;
    }
  }
  

  @media (min-width: 768px) and (max-width: 1023px) {
    #Contenedor-home {
      height: auto;
      flex-direction: column;
    }
    
    #Contenedor-home .imagen {
      margin-top: 40px;
      margin-bottom: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    #Contenedor-home .texto p {
      font-size: 56px;
      margin-right: 0;
    }
  }
  

  @media (min-width: 1024px) and (max-width: 1350px) {
    #Contenedor-home {
      height: 60vw;
      flex-direction: row;
    }

    #Contenedor-home .texto p {
        font-size: 56px;
      }
    
    #Contenedor-home .imagen {
      margin-top: 0;
      margin-bottom: 0;
    }
    
    #Contenedor-home .texto {
      margin-top: 0;
      margin-bottom: 0;
    }
  }